.Instagram {
  padding: 2rem;
  .title {
    text-align: center;
    text-transform: uppercase;
    opacity: 0.7;
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
  }

  #insta-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem;

    .InstagramPost {
      position: relative;

      .post-date {
        text-align: right;
        font-size: 0.7rem;
        opacity: 0.5;
        position: absolute;
        bottom: -1rem;
        right: 0rem;
      }

      img {
        width: 100%;
      }

      .caption {
        font-size: 0.9rem;
        margin-top: 0.4rem;
        letter-spacing: 1px;
        opacity: 0.7;
        line-height: 190%;
        .ig-username {
          font-weight: 600;
        }
      }
    }
  }
}
