#Instagram {
  width: 100%;
  max-width: 800px;
  position: relative;
  margin: auto;
  margin-top: 7rem;

  h1 {
    margin: 1rem 1rem;
    font-size: 2rem;
  }

  .posts {
    margin-top: 1rem;
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    padding: 0 1rem;

    .right {
      margin-top: -8rem;
    }

    .post {
      position: relative;
      width: 100%;
      margin: 0.8rem 0;

      &:hover {
        .caption {
          opacity: 1;
        }
      }

      img {
        width: 100%;
      }

      .caption {
        position: absolute;
        z-index: 3;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: 98%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        overflow: hidden;
        background: #0007;
        backdrop-filter: blur(5px) saturate(0);
        -webkit-backdrop-filter: blur(5px) saturate(0);
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        opacity: 0;
        transition: opacity 150ms ease-out;
        overflow: scroll;

        p {
          color: #fffd;
          margin: auto;
          line-height: 180%;
          max-width: 300px;
        }

        a {
          font-weight: 100;
          color: var(--accent-color);
        }
      }
    }
  }
}
