#VisualizationsPage {
  padding: 4rem 0;
  text-align: center;
  min-height: 95vh;
  background: rgba(250, 250, 250, 1);

  header {
    width: 75%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 8rem;

    h1 {
      font-size: clamp(2rem, 8vw, 4rem);
      margin: 0;
    }

    p {
      font-size: clamp(1rem, 3vw, 1.3rem);
    }
  }

  .config {
    margin-bottom: 5rem;
    padding: 0 2rem;
    .option-picker {
      margin-bottom: 1rem;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;

      span,
      div {
        opacity: 0.4;
        padding: 0.2rem 0.5rem;
        transition: opacity 100ms ease-out;
        cursor: pointer;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .visualization-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0 2rem;

    .VisualizationCard {
      $color: rgb(0, 0, 0);

      background: white;
      justify-self: center;
      overflow: hidden;
      border: 1px solid #eaeaea;
      width: 320px;
      height: 500px;
      position: relative;
      cursor: pointer;
      transition: all 150ms ease-out;

      &.dark {
        border-color: #101010;

        .preview {
          background: black;

          img {
            filter: invert(1);
            mix-blend-mode: unset;
          }
        }
      }

      &.active {
        border-color: var(--text-color);
      }

      &.x60_90 {
        height: 480px;
      }

      &.x50_70 {
        height: 448px;
      }

      &.x30_40 {
        height: 425px;
      }

      &.x32_32 {
        height: 320px;
      }

      &.bordered {
        box-shadow: 0.1rem 0.2rem 0.4rem #0005;
        border: 0.5rem solid lighten($color: $color, $amount: 50);
        border-left-color: lighten($color: $color, $amount: 40);
        border-right-color: lighten($color: $color, $amount: 30);
        border-bottom-color: lighten($color: $color, $amount: 20);

        .preview {
          box-shadow: inset 0.1rem 0.1rem 0.2rem #0003;
        }

        &.x60_90 {
          border-width: 3px;
        }

        &.x50_70 {
          border-width: 5px;
        }

        &.x30_40 {
          border-width: 11px;
        }

        &.x32_32 {
          border-width: 10px;
        }
      }

      &:hover {
        .preview {
          img {
            transform: scale(1.05);
          }
        }

        .details {
          opacity: 1;
        }
      }

      .preview {
        width: 120%;
        height: 120%;
        position: relative;
        transition: all 150ms ease-out;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: left;
          transition: all 150ms ease-out;
          mix-blend-mode: multiply;
        }
      }

      .details {
        opacity: 0;
        transition: opacity 100ms ease-out;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        top: 0;
        left: 0;
        padding: 2rem;

        h3 {
          margin: 0;
        }
      }
    }
  }

  .finish-comment {
    margin-top: 6rem;
    padding: 0 2rem;

    button {
      background: var(--text-color);
      color: var(--bg-color);
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.2rem;
      font-size: 1rem;
      font-weight: 500;
      font-family: var(--font-sans);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;

      &:active {
        opacity: 0.5;
      }

      svg {
        margin-right: 0.7rem;
        width: 1.1rem;
      }
    }
  }
}

html[data-theme='dark'] {
  #VisualizationsPage {
    background: #0a0a0a !important;
  }
}
