#LandingPage {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  #name-hero {
    font-size: clamp(2.5rem, 15vw, 4.5rem);
    line-height: 0.8;
    text-transform: uppercase;
  }

  h3 {
    opacity: 0.3;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: absolute;
    top: 25vh;
    font-size: 1rem;
  }

  #imadethese {
    position: absolute;
    bottom: clamp(2rem, 7vw, 3rem);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;

    &::after {
      content: '';
      background: var(--text-color);
      position: absolute;
      height: 10rem;
      width: 2px;
      top: 2rem;
      left: 50%;
    }
  }
}
