#LandingPage {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  #name-hero {
    font-size: clamp(2.5rem, 15vw, 4.5rem);
    line-height: 0.8;
    text-transform: uppercase;
    font-family: 'lust-display';
    font-weight: 900;
    text-shadow: 0 0 2rem #fff1;
  }

  .titles {
    opacity: 0.4;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 100;
    position: absolute;
    top: 25vh;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;

    code {
      position: absolute;
      line-height: 1.4;
      left: 50%;
      top: 0;
      transform: translateY(30%) translateX(-50%);
      transition: all 350ms ease-out;
      opacity: 0;
      pointer-events: none;

      &.active {
        transform: translateX(-50%) translateY(0%);
        opacity: 1;
        pointer-events: unset;
      }
    }
  }

  #imadethese {
    padding: 2rem 3rem;
    position: absolute;
    bottom: clamp(0rem, 7vw, 1rem);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: none;
    opacity: 0.2;
    transition: all 150ms ease-out;

    &:hover {
      opacity: 1;
      text-shadow: 0 0 0.4rem #fffa;

      &::after {
        box-shadow: 0 0 10px #fffa;
      }
    }

    &::after {
      content: '';
      background: var(--text-color);
      position: absolute;
      height: 10rem;
      width: 2px;
      top: 5rem;
      transform: translateX(-50%);
      left: 50%;
      transition: all 100ms ease-out;
    }
  }
}
