.MePage {
  padding: 3rem;
  max-width: 800px;
  margin: auto;
  position: relative;
  h1 {
    font-size: clamp(2rem, 7vw, 3rem);
  }

  img#bio-image {
    width: 200px;
    position: absolute;
    right: 3rem;
    background-blend-mode: luminosity;
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 2px 1rem #0004;
  }

  h3 {
    margin: 2rem 0 1rem;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1rem;
    font-family: Fira Code;
    text-transform: uppercase;
  }

  h5 {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }

  .light {
    ul {
      li {
        background: rgba(255, 255, 255, 0.434);
      }
    }
  }

  ul {
    display: flex;
    flex-flow: row wrap;

    li {
      list-style: none;
      width: max-content;
      margin: 0.8rem;
      margin-top: 0;
      margin-left: 0;
      padding: 0.4rem 0.8rem;
      border-radius: 3rem;
      background: #777;
      font-weight: 500;
      font-size: 0.8rem;
      mix-blend-mode: luminosity;
      white-space: nowrap;
    }
  }
}
