.MovingHeader {
  height: 80vh;
  width: 100%;

  .title {
    position: absolute;
    font-size: clamp(2.5rem, 7vw, 5rem);
    z-index: 1;
    left: 15%;
    top: 45vh;
    font-weight: 700;
    opacity: 0;
    animation: revealTitle 250ms ease-out 300ms forwards;
    transition: unset;
  }

  .image {
    width: 0%;
    position: absolute;
    left: 30%;
    top: 10%;
    height: 60vh;
    background-size: cover;
    background-blend-mode: luminosity;
    filter: saturate(0);
    opacity: 0.5;
    box-shadow: 0 2px 1rem #0003;
    z-index: 0;
    transition: filter 250ms ease-out;
    background-repeat: no-repeat;
    animation: revealImage 500ms ease-out forwards;

    &:hover {
      background-blend-mode: unset;
      filter: saturate(1);
    }
  }

  @keyframes revealTitle {
    from {
      opacity: 0;
      top: 50vh;
    }
    to {
      opacity: 0.7;
      top: 45vh;
    }
  }

  @keyframes revealImage {
    from {
      width: 0%;
    }
    to {
      width: 60%;
    }
  }
}
