#Footer {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #0003;
  opacity: 0.5;

  @media screen and (max-width: 768px) {
    flex-flow: column wrap;
    padding: 0;
    h4 {
      margin: 2rem;
    }
  }
}
