.WorkPage {
  text-align: center;

  #LightSwitch {
    position: fixed;
    top: 2rem;
    right: 2rem;
  }

  h1.title {
    font-size: calc(3rem + 5vw);
    width: 50%;
    min-width: 300px;
    line-height: 0.95;
    margin: 6rem auto;
  }

  h2.date {
    text-align: center;
    opacity: 0.25;
    margin-top: -2rem;
    margin-bottom: 4rem;
  }

  p {
    font-size: 1.2rem;
    color: var(--body-color);
    width: 30%;
    margin: auto;
    min-width: 300px;
    text-align: center;
  }

  .images {
    width: 90%;
    overflow: hidden;
    margin: 2rem auto;

    .image {
      position: relative;
      width: 90%;
      margin: 2rem auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        offset-position: center;
      }
    }
  }

  .go-back {
    padding: 0.3rem 0.6rem;
    background: none;
    border-radius: 0.3rem;
    border: none;
    font-weight: 400;
    font-family: var(--display-font);
    font-size: 1rem;
    margin: 2rem auto;
    color: var(--text-color);
  }
}
