.WorkTile {
  height: 80vh;
  margin: 10vh 5%;
  width: 90%;
  position: relative;

  &.visible {
    .image {
      img {
        filter: blur(2px) brightness(0.3);
      }
    }

    .details {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 0.5rem;
    overflow: hidden;

    img {
      transition: all 200ms ease-out;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .details {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    color: white;
    opacity: 0;
    transform: translateY(100px);
    transition: all 250ms ease-out;

    .title {
      font-size: calc(2rem + 3vw);
    }

    .description {
      color: #ccc;
    }

    a.read-more {
      font-weight: 100;
    }
  }
}
