.WorkTile {
  background-color: var(--bg-color);
  width: 90%;
  max-width: 900px;
  margin: 10vh auto;
  position: relative;

  &:hover {
    .image {
      width: 50%;
    }

    .details {
      left: 52%;
      opacity: 1;
    }
  }

  .image {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: all 200ms ease-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: saturate(0);
      transition: all 100ms ease-out;
      object-position: center;
    }
  }

  .details {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    width: 48%;
    transition: all 200ms ease-out 100ms;

    h1 {
      margin: 0;
      padding: 0;
      margin-bottom: 4rem;
      line-height: 0.9;
      font-size: calc(3rem + 3vw);
      position: relative;
    }

    p.description {
      font-weight: 100;
      width: 300px;
      line-height: 170%;
      margin-bottom: 2rem;
    }
  }

  @media screen and (max-width: 700px) {
    &:hover {
      .image {
        img {
          transform: scale(1.3);
        }
        opacity: 0;
      }

      .details {
        left: 0;
        opacity: 1;
      }
    }

    .details {
      width: 90%;
      left: 0;
    }
  }
}
