#BioPage {
  padding: 0;

  .content {
    header {
      position: relative;
      height: 100vh;
      z-index: -1;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        margin: 0;
        font-size: 10vw;
        color: var(--text-light);
        font-family: lust-display;
        animation: reveal 1s ease-out forwards;
      }
    }

    .text {
      padding: 2rem 4rem;
      margin: auto;
      max-width: 700px;
      text-align: left;
      padding-top: 0;
      font-weight: 400;

      h3 {
        font-family: lust-sans;
        font-weight: 500;
        font-size: 3rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
        margin-right: 2rem;
        line-height: 1;
      }

      h5 {
        font-family: var(--sans-font);
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-family: var(--sans-font);
        color: var(--text-light);
        max-width: 600px;
      }

      code {
        padding: 0.2rem 0.4rem;
        background-color: var(--bg-light);
        font-family: var(--mono-font);
        border-radius: 0.3rem;
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        width: 100%;

        li {
          margin-left: 0;
          margin-right: 1rem;
          margin-bottom: 1rem;
          padding: 0.4rem 0.6rem;
          border-radius: 0.3rem;
          border: 1px solid var(--bg-lighter);
          background: linear-gradient(
            35deg,
            var(--bg-light),
            var(--bg-lighter)
          );
          font-family: var(--mono-font);
        }
      }
    }
  }
}
