.Home {
  padding: 3rem;
  height: 100vh;

  .name {
    margin-top: 3rem;
    font-size: 4rem;
    line-height: 4rem;
  }

  .color-info {
    position: absolute;
    bottom: 3rem;
  }

  @media screen and (max-width: 800px) {
    padding: 2rem;

    .color-info {
      bottom: 2rem;
      font-size: 80%;
    }
  }

  .ThemeSwitcher {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
