.MyName {
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  line-height: 170%;
  opacity: 0;
  font-size: 1rem;
  width: max-content;
  cursor: pointer;
  animation: myName 500ms ease-out 1s forwards;
}

@keyframes myName {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.6;
  }
}
