@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
  --md-primary: #1d2023;
  --md-bg: #e8dacd;

  --brand-primary: var(--md-primary);

  --component-text-color: var(--md-primary);
  --component-bg: var(--md-bg);

  --card-fg-color: red !important;
  --component-border-color: #fff0;
  --main-navigation-color: var(--md-bg);

  --font-family-base: 'DM Sans';
}
