#Footer {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;

  &.no-padding {
    padding: 0rem !important;
  }

  p {
    font-weight: 400;
  }

  #copyright {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.4;
  }

  &:not(.no-padding) {
    @media screen and (max-width: 600px) {
      text-align: center;
      margin: auto;
      max-width: 300px;
      margin-bottom: 2rem;

      .github {
        display: none;
      }
    }
  }
}
