#LandingPage {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  #name-hero {
    font-size: clamp(3rem, 15vw, 5rem);
    line-height: 0.9;
    text-transform: uppercase;

    #cross-line {
      position: absolute;
      width: 0px;
      height: 2px;
      background: var(--text-color);
      left: calc(50% - 1vw - 3px);
      top: 50%;
      opacity: 0.2;
      transform: translate(-50%, -50%) rotateZ(-61deg);
      animation: openLine 500ms ease-out forwards;

      @keyframes openLine {
        from {
          width: 0;
        }
        to {
          width: clamp(10rem, 30vw, 50vw);
        }
      }
    }

    #z {
      opacity: 0.1;
      display: inline;
      position: relative;
    }
  }

  h3 {
    opacity: 0.3;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: absolute;
    top: 30vh;
    font-size: 1rem;
  }

  #imadethese {
    position: absolute;
    bottom: clamp(2rem, 7vw, 3rem);
    text-transform: uppercase;
    letter-spacing: 2px;

    &::after {
      content: "";
      background: var(--text-color);
      position: absolute;
      height: 10rem;
      width: 2px;
      top: 2rem;
      left: 50%;
    }
  }
}
