.Contact {
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-top: 15rem;
  margin-bottom: 10rem;
  overflow: hidden;
  text-align: center;

  h1 {
    line-height: 0.85;
    font-weight: 100;
    font-family: lust-sans;
    font-weight: 400;
  }
}
