.Offer {
  padding: 3rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  * {
    z-index: 1;
  }

  #flexing {
    opacity: 0.8;
  }

  h1 {
    font-size: calc(2rem + 2vw);
    font-weight: 600;
  }

  .options {
    display: flex;
    h3 {
      font-size: calc(1.4rem + 2vw);
      margin: 1rem;
      padding: 0.4rem;
      cursor: pointer;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }

  h2 {
    margin-top: 2rem;
  }
}
