.Social {
  margin: auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: max-content;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;

  .social {
    button {
      width: 200px;
      margin: 0;
    }
  }
}
