@import url('https://fonts.googleapis.com/css?family=Inconsolata:600|DM+Serif+Display&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --bg-color: #ffffff;
  --bg-light: #ffffff;
  --bg-lighter: #fafafa;

  --text-color: #000000;
  --text-light: #777777;

  --shine-color: #0004;
  --border-color: #0001;

  --body-color: #444444;
  --accent-color: #00fff2;
  --error: #c70035;
  --error--a-10: #c7003533;
  --error-bg: #0b0608;
  --error-bg-light: #1a0d11;
  --sans-font: work-sans;
  --mono-font: 'Inconsolata';
}

html[data-theme='dark'] {
  --bg-color: #080808;
  --bg-light: #121212;
  --bg-lighter: #242424;
  --text-color: #ffffff;
  --text-light: #ffffffaa;
  --body-color: #eaeaea;

  --shine-color: #fffd;
  --border-color: #fff3;

  #logo {
    filter: invert(1);
  }

  .canvas-wrapper {
    filter: invert(0);
  }
}

::selection {
  background: var(--accent-color);
}

::-moz-selection {
  background: var(--accent-color);
}

* {
  outline: none;
  box-sizing: border-box;
}

body {
  background: linear-gradient(35deg, var(--bg-color), var(--bg-light));
  color: var(--text-color);
  font-family: lust-display, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  transition: background-color 200ms ease-out;
}

.display {
  font-family: lust-display;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:active {
    opacity: 0.7;
  }

  &:hover {
    color: var(--accent-color);
  }
}

p {
  line-height: 170%;
  color: var(--body-color);
}

.title {
  font-size: clamp(2rem, 5vw, 4rem);
}

code,
pre {
  font-family: var(--mono-font), monospace;
}

.sans {
  font-family: var(--sans-font);
  font-weight: 400;
}

.accent-bg {
  background: var(--accent-color);
  color: black;
  padding: 0 0.2rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes reveal {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

// CANVAS

.canvas-wrapper {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  height: 100vh;
  opacity: 0.3;
  filter: invert(1);

  * {
    z-index: -1;
  }
}
