#Instagram {
  width: 100%;
  max-width: 800px;
  position: relative;
  margin: auto;
  margin-top: 7rem;

  h1 {
    margin: 1rem 1rem;
    font-size: clamp(1.5rem, 5vw, 2rem);
    width: 46%;
  }

  .posts {
    margin-top: 1rem;
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    padding: 0 1rem;

    .right {
      margin-top: -8rem;
    }

    .post {
      position: relative;
      width: 100%;
      margin: 0.8rem 0;

      &:hover {
        .caption {
          opacity: 1;
        }
      }

      img {
        width: 100%;
      }

      .caption {
        position: absolute;
        z-index: 3;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        overflow: hidden;
        background: linear-gradient(0deg, #000a, #0007, #0000);
        backdrop-filter: saturate(0);
        -webkit-backdrop-filter: blur(10px) saturate(0);
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        opacity: 0;
        transition: opacity 150ms ease-out;
        overflow: scroll;

        p {
          margin: 0;
          color: #fffd;
          line-height: 180%;
        }

        a {
          position: absolute;
          top: 1rem;
          right: 1rem;
          font-weight: 100;
          color: var(--accent-color);
        }
      }
    }
  }
}
