.Contact {
  width: 90%;
  max-width: 800px;
  margin: 5rem auto;

  h3 {
    margin: 0rem;
    letter-spacing: 0.2rem;
  }

  h1 {
    margin: 0;
    line-height: 1;
    margin-bottom: 3rem;
    font-size: 4rem;
    letter-spacing: -0.1rem;
  }

  #ContactForm {
    margin: auto;
    line-height: 3;

    label {
      margin-right: 0.5rem;
    }

    input,
    textarea {
      border: none;
      margin: 0;
      border-bottom: 1px solid var(--text-color);
      font-size: 1rem;
      font-family: var(--sans-font);
      background-color: var(--bg-color);
      transition: all 100ms ease-out;
      resize: none;
      padding-bottom: 0.25rem;

      &:focus {
        &::placeholder {
          color: var(--accent-color);
        }
      }
    }

    textarea {
      margin-top: 2rem;
      width: 100%;
      border-bottom: none;
    }
  }
}
