.CircularAvatar {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  animation: avatarAnimation 1s ease-out forwards;
  transform: scale(0);
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;

  @media screen and (max-width: 800px) {
    width: 60px !important;
    height: 60px !important;
    border-width: 3px !important;
  }
}

@keyframes avatarAnimation {
  from {
    transform: scale(0) rotateZ(-720deg);
  }
  to {
    transform: scale(1) rotateZ(0deg);
  }
}
