.PrimaryButton {
  background: linear-gradient(35deg, var(--bg-light), var(--bg-lighter));
  border-radius: 0.2rem;
  margin: 3rem auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-out;
  color: var(--text-color);
  box-shadow: inset 0 0 1px 1px var(--border-color);
  font-size: 0.9rem;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 40%;
    height: 1px;
    background: linear-gradient(90deg, #fff0, var(--shine-color), #fff0);
    opacity: 0;
    transition: all 200ms ease-in-out;
  }

  .shine {
    position: absolute;
    width: 50%;
    left: 5%;
    top: 0;
    height: 1px;
    background: linear-gradient(90deg, #fff0, var(--shine-color), #fff0);
    transition: all 200ms ease-in-out;
    opacity: 0;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 1.4rem 0.7rem 1rem;
  }

  svg {
    stroke-width: 1.5px;
    margin-right: 1rem;
    transition: all 100ms ease-out, width 0ms ease-out;
  }

  &:hover {
    box-shadow: inset 0 0 1px 1px var(--shine-color);

    &::after {
      right: 60%;
      opacity: 0.5;
    }

    .shine {
      left: 50%;
      opacity: 0.5;
    }
  }
}

html[data-theme='dark'] {
  .PrimaryButton {
    &:hover {
      box-shadow: inset 0 0 1px 1px var(--border-color);
      filter: brightness(2);
    }
  }
}
